.frame
{
    position: relative;
    background-color: green;
    width: 100%;
}

.board
{
    position: absolute;
    background-color: coral;
}

.notation
{
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
}

