.buttonHolder
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
}

.niceButton
{
    background-color: coral;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
}

.playerListParent
{
    color: white;
}

.plTable, th, td
{
    margin: auto;
    background-color: peru;
    border: 2px solid red;
    border-collapse: collapse;
}

.centerPopup
{
    position: fixed;
    color: white;
    background-color: blue;
    top: calc(50vh - 1.5rem);
    left: calc(50vw - 25vmin);
    height: calc(3rem);
    width: calc(50vmin);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}