.reginput
{
    font-size: 2rem;
}

.regform
{
    font-size: 2rem;
}

.errorText
{
    color: red;
}

.main
{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}